/* gobCL font */
@font-face {font-family: 'gobCL'; font-weight: 300; font-style: normal; src: url("../fonts/gobcl_light.eot?") format("eot"), url("../fonts/gobcl_light.woff") format("woff"), url("../fonts/gobcl_light.ttf") format("truetype");}
@font-face {font-family: "gobCL"; font-weight: 500; font-style: normal; src: url("../fonts/gobcl_regular.eot?") format("eot"), url("../fonts/gobcl_regular.woff") format("woff"), url("../fonts/gobcl_regular.ttf") format("truetype");}
@font-face {font-family: "gobCL"; font-weight: 700; font-style: normal; src: url("../fonts/gobcl_bold.eot?") format("eot"), url("../fonts/gobcl_bold.woff") format("woff"), url("../fonts/gobcl_bold.ttf") format("truetype");}
@font-face {font-family: "gobCL"; font-weight: 900; font-style: normal; src: url("../fonts/gobcl_heavy.eot?") format("eot"), url("../fonts/gobcl_heavy.woff") format("woff"), url("../fonts/gobcl_heavy.ttf") format("truetype");}
.gobcl {font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;}

/*Gilmer */
@font-face {font-family: 'gilmer'; font-style: normal; font-weight: 900; src: url("../fonts/Gilmer-Bold.otf") format("opentype");}
@font-face {font-family: 'gilmer'; font-style: normal; font-weight: 700; src: url("../fonts/Gilmer-Heavy.otf") format("opentype");}
@font-face {font-family: 'gilmer'; font-style: normal; font-weight: 300; src: url("../fonts/Gilmer-Light.otf") format("opentype");}
@font-face {font-family: 'gilmer'; font-style: normal; font-weight: 500; src: url("../fonts/Gilmer-Medium.otf") format("opentype");}
@font-face {font-family: 'gilmer'; font-style: normal; font-weight: 500; src: url("../fonts/Gilmer-Regular.otf") format("opentype");}
.gilmer {font-family: "gilmer", sans-serif;}

/* body */
body {font-family: "gilmer", sans-serif;}
a {color: #0079C3;} a:hover {color:#004f80; text-decoration: none;}

/* header */
header {background-color: #D6E5EE; color:#fff;}
header a {color:#fff;} header a:hover {color:#80CDF1;}
.header {max-width: 900px;}
.social-network .btn {width:30px; height: 30px; color:#292964; background-color:#fff; border:none;}
.social-network .btn:hover {background-color:#0AA1C6; color:#fff;}

/* Backgrounds */
.bg-azul {background-color:#5867ad;}
.bg-morado {background-color:#a84d96;} 
.bg-verde {background-color:#00aca3;}
.bg-footer {background: #5867ad url("../img/fondo-footer.png") no-repeat top right; background-size: contain;}

/* Textos y otros */
.text-verde {color:#08948d;}
.text-azul {color:#5867ad;}
.height-carousel {height: 90px;}

/* Botones */
.btn-verde {background-color:#00aca3; color:#fff; border-radius:0px; font-size:26px; padding:6px 38px; border: 2px solid #00aca3; min-width: 270px;} .btn-verde:hover {background-color:#fff; color:#08948d; border: 2px solid #00aca3;}
.btn-azul {background-color:#fff; color:#5867ad;} .btn-azul:hover {background-color:#5867ad; color:#fff;}
.nav-link {background-color:#92d6d1; color:#08948d; border-radius:0px; font-size:22px; padding:8px 38px; min-width: 270px; border: 1px solid #92d6d1;} .nav-link:hover {background-color:#fff; color:#00aca3; border: 1px solid #00aca3;} 
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {background-color:#00aca3; color:#fff; border-radius:0px; font-size:22px; padding:8px 38px; min-width: 270px; border: 1px solid #00aca3;}


/* Pantallas inferiores a 992px de ancho */
@media (max-width: 992px) {
}

/* Pantallas inferiores a 600px de ancho */
@media (max-width: 600px) {
.slider-movil {height: 130px;}
.height-carousel {height: 140px;}
}